<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

{{ partial "head" . }}

<body id="top">

    <!--header -->
    <!--================================================== -->
    {{ partial "nav" . }}

    <!--intro section-->
    <!--================================================== -->
    {{ partial "intro" . }}

    <!--about section-->
    <!--================================================== -->
    {{ partial "about" . }}

    <!--resume Section-->
    <!--================================================== -->
    {{ partial "resume" . }}

    <!--Portfolio Section-->
    <!--================================================== -->
    <!--{{ partial "portfolio" . }}-->

    <!--CTA Section-->
    <!--================================================== -->
    <!--{{ partial "cta" . }}-->

    <!--services Section-->
    <!--================================================== -->
    <!--{{ partial "services" . }}-->

    <!--stats Section-->
    <!--================================================== -->
    <!--{{ partial "stats" . }}-->

    <!--contact-->
    <!--================================================== -->
    {{ partial "contact" . }}

    <!--footer-->
    <!--================================================== -->
    {{ partial "footer" . }}

    <div id="preloader"> 
        <div id="loader"></div>
    </div> 

    <!--Javascript-->
    <!--================================================== -->
    {{ partial "js" . }}

</body>
</html>
